### VS Code ###
.vscode/
# Java
*.class
*.jar
*.war
*.ear

*.log

target/
bin/

log/
target/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
buildNumber.properties



*.iml
.idea/
*.ipr
*.iws
out/

.DS_Store
Thumbs.db

.spring-boot-devtools.properties

surefire-reports/
test-output/

application-local.properties
application-dev.properties
application-test.properties



